<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>差旅招待</title>
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/material/easyui.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
  <!-- 查询表单开始 -->
  <form id="ff" class='row vForm'>  
    <div class="col-md-6 vForm-item">  
      <label for="travelers">姓名:</label>  
      <input class="easyui-validatebox" type="text" name="travelers" />  
      <a id="search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>  
    </div>  
  </form>
  <!-- 表格开始 -->
  <div style='padding: 0 8px'>
    <table id="clzdGrid" class="easyui-datagrid"></table>
  </div>  

  
  <!-- 编板弹出框开始 -->
  <div id="clzdDialog">
    <form id="clzdFf" class='row vForm'>  
      <input type='hidden' name='travelAllowanceId'/>
      <div class="col-md-2 vForm-item form-label">  
        <label for="travelType">类型:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
         <select editable='false' name='travelType' class="easyui-combobox"  style="width:200px;height:28px;">   
          <option value="01">出差</option>  
          <option value="02">业务招待</option>   
        </select> 
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="travelers">人员:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="travelers" />  
      </div>   
      <div class="col-md-2 vForm-item form-label">  
        <label for="travelAmount">金额:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="travelAmount" />  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="reimbursePerson">报销人:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="reimbursePerson" />  
      </div>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="travelDate">日期:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
          <input type="text" name="travelDate" id="travelDate" class="Wdate"  
        onFocus="WdatePicker({isShowClear:false,isShowToday:false,isShowOK:false,readOnly:true,maxDate:'#F{\'2030-10-01\'}'})"/>  
         
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="remark">备注:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="remark" />  
      </div>  
    </form>  
  </div>
  <!-- 编板弹出框结束 --> 
<script type="text/javascript" src="../lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../lib/easyui/jquery.easyui.min.js"></script>   
<script type="text/javascript" src="../lib/easyui/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../lib/My97DatePicker/WdatePicker.js"></script>    
<script type="text/javascript" src="../js/clzd.js"></script></body>
</html>