<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>车辆折旧</title>
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/material/easyui.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
  <!-- 查询表单开始 -->
  <form id="ff" class='row vForm'>  
    <div class="col-md-6 vForm-item">  
      <label for="transportToolNo">运输工具:</label>  
      <input type="text" name="transportToolNo" />  
      <a id="search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>  
    </div>  
  </form>
  <!-- 表格开始 -->
  <div style='padding: 0 8px'>
    <table id="depreciationGrid" class="easyui-datagrid"></table>
  </div>  

  
  <!-- 编板弹出框开始 -->
  <div id="depreciationDialog">
    <form id="depreciationFf" class='row vForm'>  
      <input type="hidden" name="vehicleDepreciationId"/>
      <div class="col-md-2 vForm-item form-label">  
        <label for="transportToolNo">运输工具:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="transportToolNo" data-options="required:true"/>  
      </div>
      <div class="col-md-2 vForm-item form-label">  
        <label for="deYear">开始使用年:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <select id="deYear" editable='false' name='deYear' class="easyui-combobox"  style="width:200px;height:28px">   
          <option value="2015">2015</option> 
          <option value="2016">2016</option> 
          <option value="2017">2017</option>  
          <option value="2018">2018</option>
          <option value="2019">2019</option>  
          <option value="2020">2020</option>  
          <option value="2021">2021</option>  
          <option value="2022">2022</option>     
        </select> 
      </div>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="vehicleAssets">资产总值:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input id="vehicleAssets" class="easyui-validatebox" type="text" name="vehicleAssets" data-options="required:true,validType:['number']"/>  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="serviceLife">使用年限:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input id="serviceLife" class="easyui-validatebox" type="text" name="serviceLife" data-options="required:true,validType:['number']"/>  
      </div>
      <div class="col-md-2 vForm-item form-label">  
        <label for="monthlyDepreciation">月折旧额:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" readonly type="text" name="monthlyDepreciation" id="monthlyDepreciation"/>  
      </div> 
    </form>  
  </div>
  <!-- 编板弹出框结束 --> 
<script type="text/javascript" src="../lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../lib/easyui/jquery.easyui.min.js"></script>   
<script type="text/javascript" src="../lib/easyui/easyui-lang-zh_CN.js"></script>    
<script type="text/javascript" src="../lib/My97DatePicker/WdatePicker.js"></script>
<!--<script type="text/javascript" src="../js/depreciation.js"></script>-->
<script type="text/javascript">
  $.getScript("../js/depreciation.js").done(function(script, textStatus) {
      console.log( textStatus );
  })
  .fail(function(jqxhr, settings, exception) {
      $.messager.alert('错误提示',  '登录已过期, 请重新登录!');
      setTimeout(function() {
          window.parent.location.href = 'login.html';
      }, 3000);
  }); 
</script>
</body>
</html>