<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>保险</title>
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/material/easyui.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
  <!-- 查询表单开始 -->
  <form id="ff" class='row vForm'>  
    <div class="col-md-6 vForm-item">  
      <label for="startDate">年:</label>  
      <select id="insuranceYear" editable='false' name='insuranceYear' class="easyui-combobox"  style="width:200px;height:28px">   
          <option value="2015">2015</option> 
          <option value="2016">2016</option>    
          <option value="2017">2017</option>  
          <option value="2018">2018</option>
          <option value="2019">2019</option>  
          <option value="2020">2020</option>  
          <option value="2021">2021</option>  
          <option value="2022">2022</option>     
        </select>  
      <a id="search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>  
    </div>  
  </form>
  <!-- 表格开始 -->
  <div style='padding: 0 8px'>
    <table id="insuranceGrid" class="easyui-datagrid"></table>
  </div>  

  
  <!-- 编板弹出框开始 -->
  <div id="insuranceDialog">
    <form id="insuranceFf" class='row vForm'>  
      <input type="hidden" name="insuranceId"/>
      <div class="col-md-2 vForm-item form-label">  
        <label for="insuranceYear">年:</label>   
      </div> 
      <div class="col-md-4 vForm-item">  
        <select id="insuranceYear" editable='false' name='insuranceYear' class="easyui-combobox"  style="width:200px;height:28px">   
          <option value="2017">2017</option>  
          <option value="2018">2018</option>
          <option value="2019">2019</option>  
          <option value="2020">2020</option>  
          <option value="2021">2021</option>  
          <option value="2022">2022</option>     
        </select> 
      </div>
      <div class="col-md-2 vForm-item form-label">  
        <label for="insuranceNo">保险单号:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="insuranceNo" data-options="required:true"/>  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="insuranceType">种类:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input id="zl" type="text" name="insuranceType" data-options="required:true"/> 
      </div>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="insuanceAmount">金额:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="insuranceAmount" data-options="required:true,validType:['number']"/>  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="insuranceCompany">保险公司:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="insuranceCompany" data-options="required:true"/>  
      </div>
    </form>  
  </div>
  <!-- 编板弹出框结束 --> 
<script type="text/javascript" src="../lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../lib/easyui/jquery.easyui.min.js"></script>   
<script type="text/javascript" src="../lib/easyui/easyui-lang-zh_CN.js"></script>    
<script type="text/javascript" src="../lib/My97DatePicker/WdatePicker.js"></script>
<!--<script type="text/javascript" src="../js/insurance.js"></script>-->
<script type="text/javascript">
  $.getScript("../js/insurance.js").done(function(script, textStatus) {
      console.log( textStatus );
  })
  .fail(function(jqxhr, settings, exception) {
      $.messager.alert('错误提示',  '登录已过期, 请重新登录!');
      setTimeout(function() {
          window.parent.location.href = 'login.html';
      }, 3000);
  }); 
</script>
</body>
</html>