<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>办公场地</title>
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/material/easyui.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
  <!-- 查询表单开始 -->
  <form id="ff" class='row vForm'>  
    <div class="col-md-6 vForm-item">  
      <label for="officeSpaceName">场地名称:</label>  
      <input class="easyui-validatebox" type="text" name="officeSpaceName" />  
      <a id="search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>  
    </div>  
  </form>
  <!-- 表格开始 -->
  <div style='padding: 0 8px'>
    <table id="officeGrid" class="easyui-datagrid"></table>
  </div>  

  
  <!-- 编板弹出框开始 -->
  <div id="officeDialog">
    <form id="officeFf" class='row vForm'>  
      <input type='hidden' name='officeSpaceId'/>
       <div class="col-md-2 vForm-item form-label">  
        <label for="officeDate">租赁时间:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
         <input type="text" name="officeDate" id="officeDate" class="Wdate"  
                onFocus="WdatePicker({isShowClear:false,isShowOK:false,readOnly:true,maxDate:'#F{\'2030-10-01\'}'})"/>   
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="officeSpaceName">场地名称:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="officeSpaceName" />  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="monthRent">月租:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="monthRent" />  
      </div>   
    </form>  
  </div>
  <!-- 编板弹出框结束 --> 
<script type="text/javascript" src="../lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../lib/easyui/jquery.easyui.min.js"></script>   
<script type="text/javascript" src="../lib/easyui/easyui-lang-zh_CN.js"></script>    
<script type="text/javascript" src="../lib/My97DatePicker/WdatePicker.js"></script> 
<!--<script type="text/javascript" src="../js/officePlace.js"></script>-->
<script type="text/javascript">
  $.getScript("../js/officePlace.js").done(function(script, textStatus) {
      console.log( textStatus );
  })
  .fail(function(jqxhr, settings, exception) {
      $.messager.alert('错误提示',  '登录已过期, 请重新登录!');
      setTimeout(function() {
          window.parent.location.href = 'login.html';
      }, 3000);
  }); 
</script>
</body>
</html>