<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../lib/normalize.css">
    <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/material/easyui.css">
    <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <title>发送计划消息</title>
</head>
<body>
  <!-- 查询表单开始 -->
  <form id="ff" class='row vForm'>  
      <div class="col-md-3 vForm-item">  
        <label for="consignNo">运单号:</label>  
        <input class="easyui-validatebox" type="text" name="consignNo" />  
      </div>  
      <div class="col-md-3 vForm-item">  
        <label for="chassisNo">底盘号:</label>  
        <input class="easyui-validatebox" type="text" name="chassisNo" />  
      </div>  
      <div class="col-md-6 vForm-item">  
        <label for="createDateStart">制单日期:</label>  
        <input type="text" name="createDateStart" id="starDate" class="Wdate"  
        onFocus="WdatePicker({readOnly:true,maxDate:'#F{$dp.$D(\'endDate\')||\'2030-10-01\'}'})"/>  
        至
        <input type="text" name="createDateEnd" id="endDate" class="Wdate"  
        onFocus="WdatePicker({readOnly:true,minDate:'#F{$dp.$D(\'starDate\')}',maxDate:'2030-10-01'})"//>
      </div>    
      <div class="col-md-3 vForm-item">  
        <label for="locationFrom">起运地:</label>
        <select id="locationFrom"  name='locationFrom' class="easyui-combobox" style="width:200px;height:28px">
        </select> 
      </div>  
      <div class="col-md-3 vForm-item">  
        <label for="locationTo">目的地:</label>  
         <select id="locationTo" name='locationTo' class="easyui-combobox" style="width:200px;height:28px">
        </select> 
      </div> 
       <div class="col-md-6 vForm-item">  
        <label for="dispatchDateStart">发运日期:</label>  
          <input type="text" name="dispatchDateStart" id="dispatchDateStart" class="Wdate"  
        onFocus="WdatePicker({readOnly:true,maxDate:'#F{$dp.$D(\'dispatchDateEnd\')||\'2030-10-01\'}'})"/>  
        至
        <input type="text" name="dispatchDateEnd" id="dispatchDateEnd" class="Wdate" 
        onFocus="WdatePicker({readOnly:true,minDate:'#F{$dp.$D(\'dispatchDateStart\')}',maxDate:'2030-10-01'})"//>
      </div>
      <div class="col-md-3 vForm-item">  
        <label for="dispatchFstate">编板状态:</label>  
        <select id="dispatchFstate" editable='false' name='dispatchFstate' class="easyui-combobox"  style="width:200px;height:28px">  
          <option value="">全部</option>  
          <option value="01">已编板</option>  
          <option value="00">未编板</option>   
        </select>  
       
      </div>
      <div class="col-md-3 vForm-item">  
        <label for="consignOrgName">托运单位:</label>  
        <input class="easyui-validatebox" type="text" name="consignOrgName" />  
      </div>
      <div class="col-md-5 vForm-item">  
        <label for="carrierName">承运商:</label>  
        <input class="easyui-validatebox" type="text" name="carrierName" />  
        <span>
          <a id="search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>  
        </span> 
      </div>
      
      <div class="col-md-12 vForm-item"> 
          <a href="#" class="easyui-linkbutton"  style="width:70px;margin-right:10px;">导入</a>
          <span><input id="import" type="file"  name="consignFile" style="position: absolute;top:0;opacity:0;width:52px;"></span>
        <a id="make" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">编板</a> 
      </div>  
  </form>  
  <!-- 查询表单结束 -->

  <!-- 表格开始 -->
  <div style='padding: 0 8px'>
    <table id="planGrid" class="easyui-datagrid"></table>
  </div>  
  <!-- 表格结束 -->
  <!-- 新增弹出框开始 -->
  <div id="planDialog">
    <form id="planFf" class='row vForm' method='post'>  
       <input type="hidden" name="consignId"/>
      <div class="col-md-2 vForm-item form-label">  
        <label for="consignNo">运单号:</label>
      </div>  
      <div class="col-md-4 vForm-item"> 
        <input  class="easyui-validatebox" name="consignNo" data-options="required:true,validType:['minLength[3]']">  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="chassisNo">底盘号:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
        <input  name="chassisNo" data-options="required:true" class="easyui-validatebox">  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="locationFromAdd">起运地:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <select id="locationFromAdd"  name='locationFrom' class="easyui-combobox" data-options="required:true" style="width:200px;height:28px">
        </select> 
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="locationToAdd">目的地:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
        <select id="locationToAdd"  name='locationTo' class="easyui-combobox" data-options="required:true" style="width:200px;height:28px">
        </select> 
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="carBrand">品牌:</label>   
      </div>  
      <div class="col-md-4 vForm-item">
        <select id="carBrand"  name='carBrand' class="easyui-combobox" data-options="required:true" style="width:200px;height:28px">
        </select> 
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="carModel">车型:</label>   
      </div>  
      <div class="col-md-4 vForm-item">
        <select id="carModel"  name='carModel' class="easyui-combobox" data-options="required:true" style="width:200px;height:28px">
        </select>
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="consignOrgName">托运单位:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" id="consignOrgName" type="text" name="consignOrgName" data-options="required:true"/>  
      </div>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="receiveOrgName">收车单位:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
        <input name="receiveOrgName" data-options="required:true" class="easyui-validatebox">  
      </div> 
    </form>  
  </div>
  <!-- 新增弹出框结束 -->
    <!-- 编辑弹出框开始 -->
    <div id="editWin">
      <form id="editForm" class='row vForm'>  
        <input type="hidden" name="consignDetailId"/>
        <div class="col-md-2 vForm-item form-label">  
          <label for="consignNo">备注:</label>   
        </div>  
        <div class="col-md-4 vForm-item">  
          <input   type="text" name="remark" />  
        </div> 
      </form>  
    </div>
    <!-- 编辑弹出框结束 -->
  <!-- 编板弹出框开始 -->
  <div id="bbDialog">
    <form id="bbFf" class='row vForm' method='post'>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="carrierName">承运商:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
        <input  name="carrierName" data-options="required:true" id="carrierName">  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="recordId">轿运车:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
        <input name="recordId" data-options="required:true"  id="transportTool">  
      </div>
      <div class="col-md-2 vForm-item form-label">  
        <label for="mainDrive">主驾:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
        <input name="mainDrive"  data-options="required:true" id="mainDrive" class="easyui-validatebox">  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="mainDrivePhone">联系方法:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
        <input  name="mainDrivePhone" data-options="required:true" id="mainDrivePhone" class="easyui-validatebox">  
      </div> 
      <div id="locationByCarryType" class="hidden">
      <div class="col-md-2 vForm-item form-label">  
        <label for="locationFrom">起运地:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
        <input name="locationFrom"   id="locationFromEdit">  
      </div>
      <div class="col-md-2 vForm-item form-label">  
        <label for="locationTo">目的地:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
        <input name="locationTo"  id="locationToEdit">  
      </div> 
      </div>
      <div class="col-md-2 vForm-item form-label">  
        <label for="consignNos">所带运单:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
        <input name="consignNos"  style="width: 200px"  id="consignNos">  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="despatchDate">发运日期:</label>   
      </div>  
      <div class="col-md-4 vForm-item"> 
        <input type="text" name="despatchDate" id="despatchDate" class="Wdate"  
        onFocus="WdatePicker({readOnly:true})"/>  
      </div> 

    </form>  
  </div>
  <!-- 编板弹出框结束 -->

<script type="text/javascript" src="../lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../lib/ajaxfileupload.js"></script>
<script type="text/javascript" src="../lib/easyui/jquery.easyui.min.js"></script>   
<script type="text/javascript" src="../lib/easyui/easyui-lang-zh_CN.js"></script>  
<script type="text/javascript" src="../lib/My97DatePicker/WdatePicker.js"></script>
<!--<script type="text/javascript" src="../js/plan.js"></script>-->
<script type="text/javascript" >
  $.getScript("../js/plan.js").done(function(script, textStatus) {
      console.log( textStatus );
  })
  .fail(function(jqxhr, settings, exception) {
      $.messager.alert('错误提示',  '登录已过期, 请重新登录!');
      setTimeout(function() {
          window.parent.location.href = 'login.html';
      }, 3000);
  });
</script>
</body>
</html>