<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>税收</title>
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/material/easyui.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
  <!-- 查询表单开始 -->
  <form id="ff" class='row vForm'>  
    <div class="col-md-6 vForm-item">  
      <label for="taxDate">日期:</label>  
      <input type="text" name="taxDate" id="starDate" class="Wdate"  
        onFocus="WdatePicker({isShowClear:false,isShowToday:false,isShowOK:false,readOnly:true,maxDate:'\'2030-10-01\'}'})"/>  
      <a id="search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>  
    </div>  
  </form>
  <!-- 表格开始 -->
  <div style='padding: 8px'>
    <table id="revenueGrid" class="easyui-datagrid"></table>
  </div>  

  
  <!-- 编板弹出框开始 -->
  <div id="revenueDialog">
    <form id="revenueFf" class='row vForm'>  
      <input type="hidden" name="taxId"/>
      <div class="col-md-2 vForm-item form-label">  
        <label for="taxNo">税号:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="taxNo" data-options="required:true"/>  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="taxType">种类:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" id="taxType" name="taxType" data-options="required:true"/>  
      </div>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="taxAmount">含税金额:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" id="taxAmount" type="text" name="taxAmount" data-options="required:true,validType:['number']"/>  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="taxRate">税率:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input id="sl" type="text" name="taxRate" data-options="required:true"/>  
      </div>
      <div class="col-md-2 vForm-item form-label">  
        <label for="taxPrice">税金:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" readonly id="taxPrice" type="text" name="taxPrice" data-options="required:true,"/>  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="taxFreeAmount">不含税金额:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" readonly id="taxFreeAmount" type="text" name="taxFreeAmount" data-options="required:true"/>  
      </div>
      <div class="col-md-2 vForm-item form-label">  
        <label for="taxDate">日期:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input type="text"  name="taxDate" onClick="WdatePicker()" style="width: 200px;"/>  
      </div>
    </form>  
  </div>
  <!-- 编板弹出框结束 --> 
<script type="text/javascript" src="../lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../lib/easyui/jquery.easyui.min.js"></script>   
<script type="text/javascript" src="../lib/easyui/easyui-lang-zh_CN.js"></script>    
<script type="text/javascript" src="../lib/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript" src="../js/revenue.js"></script>
</body>
</html>