<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/material/easyui.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="../css/app.css">
  <title>司机结费</title>
</head>
<body>
  <!-- 查询表单开始 -->
  <form id="ff" class='row vForm'>  
    <div class="col-md-4 vForm-item">  
      <label for="transportTool">轿运车号:</label>  
      <input class="easyui-validatebox" name="transportTool"/>   
    </div>  
    <div class="col-md-6 vForm-item">  
        <label for="dispatchDateStart">发运日期:</label>  
          <input type="text" name="dispatchDateStart" id="starDate" class="Wdate"  
        onFocus="WdatePicker({isShowClear:false,isShowToday:false,isShowOK:false,readOnly:true,maxDate:'#F{$dp.$D(\'endDate\')||\'2030-10-01\'}'})"/>  
        至
        <input type="text" name="dispatchDateEnd" id="endDate" class="Wdate" 
        onFocus="WdatePicker({isShowClear:false,isShowToday:false,isShowOK:false,readOnly:true,minDate:'#F{$dp.$D(\'starDate\')}',maxDate:'2030-10-01'})"//>
      
        <span>
          <a id="search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>  
        </span> 
      </div> 
  </form>  
  <!-- 查询表单结束 -->
  <!-- grid开始 -->
  <div style='padding: 0 8px'>
    <table id="sjChargeGrid" class="easyui-datagrid"></table>
  </div> 
  <!-- grid结束 --> 
    <!-- 新增/编辑弹出框开始 -->
  <div id="editWin">
    <form id="editForm" class='row vForm'>  
      <input type="hidden" name="chargeId"/>
      <div class="col-md-2 vForm-item form-label">  
        <label for="serviceRate">劳务费率:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input  class="easyui-validatebox" type="text" name="serviceRate" />  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="kilometers">公里数:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" data-options="required:true" type="text" name="kilometers" />  
      </div>
      <div class="col-md-2 vForm-item form-label">  
        <label for="oilCost">实际油耗:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" data-options="required:true" type="text" name="oilCost" />  
      </div>
      <div class="col-md-2 vForm-item form-label">  
        <label for="oilRatio">计划油耗系数:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" data-options="required:true" type="text" name="oilRatio" />  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="oilPrice">燃油单价:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" data-options="required:true" type="text" name="oilPrice" />  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="oilSubsidy">其他补贴:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox"  type="text" name="oilSubsidy" />  
      </div> 
    </form>  
  </div>
  <!-- 编辑弹出框结束 -->
<script type="text/javascript" src="../lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../lib/easyui/jquery.easyui.min.js"></script>   
<script type="text/javascript" src="../lib/easyui/easyui-lang-zh_CN.js"></script>  
<script type="text/javascript" src="../lib/My97DatePicker/WdatePicker.js"></script>   
<script type="text/javascript" src="../js/sjCharge.js"></script></body>
</html>