<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>人员工资</title>
  <link rel="stylesheet" type="text/css" href="../lib/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../lib/normalize.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/material/easyui.css">
  <link rel="stylesheet" type="text/css" href="../lib/easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="../css/app.css">
</head>
<body>
  <!-- 查询表单开始 -->
  <form id="ff" class='row vForm'>  
    <div class="col-md-6 vForm-item">  
      <label for="pName">员工姓名:</label>  
      <input class="easyui-validatebox" type="text" name="pName" />  
      <a id="search" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>  
    </div>  
  </form>
  <!-- 表格开始 -->
 <div style='padding: 0 8px'>
    <table id="wagesGrid" class="easyui-datagrid"></table>
  </div>  
  <!-- 编板弹出框开始 -->
  <div id="wagesDialog">
    <form id="wagesFf" class='row vForm'>  
      <input type='hidden' name='salaryId'/>
      <div class="col-md-2 vForm-item form-label">  
        <label for="pName">姓名:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" data-readonly='true' type="text" name="pName" />  
      </div> 
      <div class="col-md-2 vForm-item form-label">  
        <label for="basePay">底薪:</label>   
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" data-options="required:true" type="text" name="basePay" />  
      </div>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="positionSalary">岗位工资:</label>  
      </div> 
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="positionSalary" />  
      </div>   
      <div class="col-md-2 vForm-item form-label">  
        <label for="evaluationReward">综合考评奖励:</label>  
      </div>  
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="evaluationReward" />  
      </div>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="trafficCommunications">交通通讯保障:</label>   
      </div>  
      <div class="col-md-4 vForm-item">   
        <input class="easyui-validatebox" type="text" name="trafficCommunications" />  
      </div>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="seniorityPay">工龄工资:</label>    
      </div>   
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="seniorityPay" />  
      </div>  
      <div class="col-md-2 vForm-item form-label">  
        <label for="payRetro">补发:</label>    
      </div>   
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="payRetro" />  
      </div>
      <div class="col-md-2 vForm-item form-label">  
        <label for="buckleUp">补扣:</label>    
      </div>   
      <div class="col-md-4 vForm-item">  
        <input class="easyui-validatebox" type="text" name="buckleUp" />  
      </div>
    </form>  
  </div>
  <!-- 编板弹出框结束 -->
<script type="text/javascript" src="../lib/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../lib/easyui/jquery.easyui.min.js"></script>   
<script type="text/javascript" src="../lib/easyui/easyui-lang-zh_CN.js"></script>  
<script type="text/javascript" src="../lib/My97DatePicker/WdatePicker.js"></script>  
<!--<script type="text/javascript" src="../js/wages.js"></script>-->
<script type="text/javascript">
  $.getScript("../js/wages.js", function(data, textStatus, jqxhr) {
      if (jqxhr.status !== 200) {
        $.messager.alert('错误提示',  '登录已过期, 请重新登录!');
        setTimeout(function() {
          //这里看看是直接跳  还是给个延迟
          //这里返回登录页面
          window.parent.location.href = 'login.html';
        }, 2000);
      }
  });
</script>
</body>
</html>